.container {
    height: 45vh;
    display: flex;
    border: 2px solid black;
    flex-direction: row;
    flex-wrap: wrap;




}

.fitem {
    background-color: red;
    border: 2px solid black;
    height: 200px;
    width: 200px;
}

.item {
    flex-grow: 2;
}

.item2 {
    flex-grow: 2;
}

.item3 {
    align-self: flex-end;
}

.item4 {
    flex-grow: 2;
}